<div class="container-fluid">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Datos de la factura</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="registerInvoice.invoiceCode"
              matInput
              placeholder="Código de factura"
              type="number"
              minlength="9"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerInvoice.subtotal"
              matInput
              placeholder="Subtotal"
              type="number"
              minlength="1"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerInvoice.iva"
              matInput
              placeholder="IVA"
              type="number"
              minlength="1"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Elija fecha de la factura</mat-label>
            <input
              matInput
              [(ngModel)]="registerInvoice.invoice_date"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="container-fluid btn">
          <div>
            <button
              (click)="SAVE_INVOICE()"
              class="button"
              mat-raised-button
              [disabled]="
                !registerInvoice.invoiceCode ||
                !registerInvoice.subtotal ||
                !registerInvoice.iva ||
                !registerInvoice.invoice_date
              "
            >
              Crear factura
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
