.container-fluid {
  width: 100%;
  padding-bottom: 2%;
}
.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 16px 0;
}

mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  border: none;
}

.button {
  width: 100%;
  background-color: #d53545;
  color: #fff;
}

.button:hover {
  background-color: #bb2d3b;
}

mat-card-title {
  text-align: center;
  font-size: 250%;
  font-weight: 200;
  padding-bottom: 10px;
}

button[disabled] {
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: #dddddd;
}
