<div class="container-fluid mt-5">
  <div class="row">
    <div class="example-container col">
      <h2 class="text-center mb-4">
        <span class="border-bottom border-3 border-danger pb-1">Facturas</span>
      </h2>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Código de factura</th>
              <th scope="col">Cliente</th>
              <th scope="col">Ciudad</th>
              <th scope="col">NIT</th>
              <th scope="col">Total de factura</th>
              <th scope="col">SubTotal</th>
              <th scope="col">IVA</th>
              <th scope="col">Retención</th>
              <th scope="col">Fecha de creación</th>
              <th scope="col">Estado</th>
              <th scope="col">Pagada</th>
              <th scope="col">Fecha de pago</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of invoiceSt">
            <tr>
              <th scope="row">#{{ item.invoiceCode }}</th>
              <td>{{ item.user.name }}</td>
              <td>{{ item.user.city }}</td>
              <td>{{ item.user.nit }}</td>
              <td>${{ item.invoiceTotal.total }}</td>
              <td>${{ item.invoiceTotal.subtotal }}</td>
              <td>${{ item.invoiceTotal.iva }}</td>
              <td>${{ 0 }}</td>
              <td>
                {{
                  item.invoice_date ? item.invoice_date.substr(0, 10) : false
                }}
              </td>
              <td
                *ngIf="item.invoiceStatus == 'primerrecordatorio'"
                (click)="UPDATE_INVOICE(item, 'segundorecordatorio')"
              >
                {{ item.invoiceStatus }}
              </td>
              <td
                *ngIf="item.invoiceStatus == 'segundorecordatorio'"
                (click)="UPDATE_INVOICE(item, 'desactivado')"
              >
                {{ item.invoiceStatus }}
              </td>
              <td
                *ngIf="item.invoiceStatus == 'desactivado'"
                (click)="UPDATE_INVOICE(item, 'primerrecordatorio')"
              >
                {{ item.invoiceStatus }}
              </td>
              <td>{{ item.paid }}</td>
              <td>{{ item.paid_at ? item.paid_at : "-" }}</td>
              <mat-icon (click)="DELETE_INVOICE(item)"
                >delete</mat-icon
              >
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
